.DS_Store
__pycache__/
*.pyc

# LaTeX build artifacts
report/*.aux
report/*.bbl
report/*.bcf
report/*.blg
report/*.blx.bib
report/*-blx.bib
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.run.xml
report/*.synctex.gz
report/*.toc
